// --- Typography ---
@import url('https://fonts.googleapis.com/css?family=Bitter|Source+Sans+Pro:400,600');

$fontFamilyTitle: 'Bitter', serif;
$fontFamilyBody: 'Source Sans Pro', sans-serif;

$fontWeightTitleReg: 400;
$fontWeightBodyReg: 400;
$fontWeightBodyBold: 600;

html, body {
  text-rendering: optimizeLegibility;
}
html {
  font-size: 10px; // 1rem = 10px = useful
}
body {
  font-size: 1.4rem; // 14px default font size on regular size
  font-family: $fontFamilyBody;
  font-weight: $fontWeightBodyReg;
}
h1, h2 {
  font-family: $fontFamilyTitle;
  font-weight: $fontWeightTitleReg;
}
h3, h4, h5 {
  font-family: $fontFamilyBody;
  font-weight: $fontWeightBodyBold;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
}

a {
  transition: background 0.23456789s ease;
}

.intro-text {
  margin-top: 1.5rem;
  color: #666;
  font-size: 2.0rem;
  margin-bottom: 3.5rem;
}

@media all and (max-width: $responsiveStopTablet) {
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }

  .intro-text {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
}

@media all and (max-width: $responsiveStopMobile) {
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }

  .intro-text {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}