// --- Container ---
.container {
  max-width: 1240px;
  width: auto;
  margin: 0 auto;
  padding: 0 2.5rem;
}

// --- "Cards" ---
.site-card__inner {
  padding: 5rem 0;
}
.site-card__inner--frontpage {
  padding: 10rem 0;
}
.site-card__inner--intro {
  padding: 25rem 0;
}