// --- Container ---
.container {
  width: 1240px;
  max-width: 100%;
  max-width: calc(100% - 5rem);
  margin: 0 auto;
  padding: 0 2.5rem;

  @media all and (max-width: $responsiveStopMobile) {
    max-width: calc(100% - 2rem);
    padding: 0 1rem;
  }
}

// --- "Cards" ---
.site-card__inner {
  padding: 2.5rem 0;

  @media all and (max-width: $responsiveStopMobile) {
    padding: 2.5rem 0;
  }
}
.site-card__inner--frontpage {
  padding: 5rem 0;

  @media all and (max-width: $responsiveStopMobile) {
    padding: 15rem 0;
  }
}
.site-card__inner--intro {
  padding: 15rem 0;

  @media all and (max-width: $responsiveStopMobile) {
    padding: 15rem 0;
  }
}